@use '../../utilities/responsive';
@use '../../components/overlay';
@use '../../components/arrow';

.promo1 {
    max-width: 100vw;
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-light);

    &__inner {
        grid-column: inner;
        padding: var(--section-gap-inner) 0;
    }

    @include responsive.max(700px) {
        &__inner {
            padding: var(--section-gap-inner) 0;
        }
    }

    figure {
        margin: 0;
    }

    &__cards {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--gap-m);

    }

    &__card {

        background-color: var(--color-dark-600);
        color: var(--color-dark-500);
        display: flex;
        justify-content: space-between;
        padding: var(--gap-m);
        align-items: center;
        width: 404px;

        &__content {

            display: flex;
            flex-direction: column;

        }
    
        &__title {

            color: var(--color-dark-500);
            margin: 0;

            &--big {
                color: var(--color-dark-500);
                margin: 0;
            }

        }

        &__text {

            font-size: 0.8rem;
    
        }

        &__image {

            display: flex;
            align-self: flex-end;
            width: 32px;
            
            cursor: pointer;
        }

        &__arrow {
            align-self: flex-end;
            z-index: 7;
            @include arrow.default();
        }

    }
    
    &__card1 {
        background-color: var(--color-dark-500);
        &__title--big, &__title {

            color: var(--color-light);
        }

        p {
            color: var(--color-light);
        }

        @include overlay.default($color: var(--color-accent), $opacity: 1);
        
    }
    &__card2 {
        &__title--big {

            color: var(--color-accent-600);
        }

        @include overlay.default();
    }

    &__card3 {
        &__title {

            color: var(--color-dark-700);
        }

        @include overlay.default();
    }
}